/.vagrant
/modules/software/files/*.tar.gz
/modules/software/files/*.rpm
/modules/software/files/*.zip
/modules/software/files/*.jar
/modules/concat
/modules/connect
/modules/easy_type
/modules/em_utils
/modules/filemapper
/modules/jdk7
/modules/limits
/modules/nfs
/modules/ora_config
/modules/ora_install
/modules/sleep
/modules/stdlib
/modules/swap_file
/modules/sysctl
/modules/timezone
/modules/wls_config
/modules/wls_install
/modules/yamlfile
.byebug_history
/.librarian
/.tmp
.DS_Store
/wls12.box
/modules/ora_cis
/modules/archive
/modules/debconf
/modules/software/files
/modules/software
/modules/augeasproviders_core
/modules/augeasproviders_sysctl
/modules/firewall
/modules/firewalld
/modules/powershell
/modules/registry
/modules/chocolatey
/puppet_version
/modules/pwshlib
windows_hosts_file.pp
/modules/augeasproviders_grub
/modules/db2_install
/modules/db2_config/
/modules/db2_secured/
/modules/echo
/modules/systemd/
